@import "../../style/base";

.home-container {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 60px;
  display: flex;
  .description {
    width: 100%;
  }
  .heroImg {
    display: flex;
    justify-content: flex-end;
    width: auto;
    img {
      width: 100%;
    }
  }
}
