@import "../../style/_base";

ul {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  list-style-type: none;
  li {
    color: white;
    padding-left: 20px;
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }
}
