@import "../../../style/base";
.skill-summary {
  margin-left: auto;
  margin-right: auto;
  h2 {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    padding: 3px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: $secondary-color;
  }
  p {
    margin-top: 10px;
    text-align: center;
    width: 500px;
  }
}
