.aboutheader-container {
  h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
  }
  p {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #545454;
  }
}
